In [27]:
import pandas as pd

In [28]:
data = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
test_ids = test["PassengerId"]

data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [29]:
def clean_data(data):
    data = data.drop(["Ticket", "Cabin", "Name", "PassengerId"], axis=1)
    cols = ["SibSp", "Parch", "Fare", "Age"]

    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)

    data.Embarked.fillna("U", inplace=True)

    return data

In [30]:
data = clean_data(data)
test = clean_data(test)

In [31]:
data, test

(     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
 0           0       3    male  22.0      1      0   7.2500        S
 1           1       1  female  38.0      1      0  71.2833        C
 2           1       3  female  26.0      0      0   7.9250        S
 3           1       1  female  35.0      1      0  53.1000        S
 4           0       3    male  35.0      0      0   8.0500        S
 ..        ...     ...     ...   ...    ...    ...      ...      ...
 886         0       2    male  27.0      0      0  13.0000        S
 887         1       1  female  19.0      0      0  30.0000        S
 888         0       3  female  28.0      1      2  23.4500        S
 889         1       1    male  26.0      0      0  30.0000        C
 890         0       3    male  32.0      0      0   7.7500        Q

 [891 rows x 8 columns],
      Pclass     Sex   Age  SibSp  Parch      Fare Embarked
 0         3    male  34.5      0      0    7.8292        Q
 1         3  female  47.0      1      0    7.0000        S
 2         2    male  62.0      0      0    9.6875        Q
 3         3    male  27.0      0      0    8.6625        S
 4         3  female  22.0      1      1   12.2875        S
 ..      ...     ...   ...    ...    ...       ...      ...
 413       3    male  27.0      0      0    8.0500        S
 414       1  female  39.0      0      0  108.9000        C
 415       3    male  38.5      0      0    7.2500        S
 416       3    male  27.0      0      0    8.0500        S
 417       3    male  27.0      1      1   22.3583        C

 [418 rows x 7 columns])

In [32]:
from sklearn import preprocessing

In [33]:
le = preprocessing.LabelEncoder()

cols = ["Sex", "Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)

data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [35]:
y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
clf = LogisticRegression(random_state=42, max_iter=10000).fit(X_train, y_train)

In [37]:
predictions = clf.predict(X_val)

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [39]:
submission_preds = clf.predict(test)

In [40]:
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Survived": submission_preds})

In [41]:
df.to_csv("gender_submission.csv", index=False)